
body {background-color: rgb(0, 0, 0);}


.div {
background-color: #FFFFFF;
width: 30%;
height: 90%;
background: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin-left: 35%;
margin-right:35%;
margin-top: 20%;
margin-bottom: 5%;

}

.div p{ margin-left: 3%;
    margin-right: 3%;
   text-align: left;
  
}





 .line { font-size: 100%;}

p {
    color: #000000; 
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}




h1 {
    color: #000000; 
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    text-align: center;
    padding: 30px;

    
}

.textshort {
    color: #000000; 
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}








.img {width: 90%;}
.imgsec{width: 60%;}
.note{font-size: 10px;}

.div1 {
    position: absolute;
        left: 3.13%;
        right: 1.95%;
        top: 40%;
        bottom: 0.92%;
        width: 25%;     
}

.div1 p { color: white;}

.button1 {position: absolute;
    margin-left: 115%;
    margin-top: 89%;
    border-radius: 50%;
    height: 4%;
    background-color: black;
    width: 5%;
}
.x1{position: absolute;
    display:none
}
.button1:hover + .x1{ display:block;}


.div2 {
    position: absolute;
    left: 70%;
    right: 26.64%;
    top: 54%;
    bottom: 48.34%;
    width: 25%;      
}
.div2 p { color: white;}

.button2 {position: absolute;
    margin-left: -15%;
    margin-top: 90%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
  
}
.x2{position: absolute;
    display:none
}
.button2:hover + .x2{ display:block;}

.div3 {
    position: absolute;
    left: 70%;
    right: 26.64%;
    top: 85%;
    bottom: 48.34%;
    width: 25%;      
}
.div3 p { color: white;}

.button3 {position: absolute;
    margin-left: -15%;
    margin-top: 50%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
    
}
.x3{position: absolute;
    display:none
}
.button3:hover + .x3{ display:block;}

.div4 {
    position: absolute;
        left: 3.13%;
        right: 1.95%;
        top: 95%;
        bottom: 0.92%;
        width: 25%;      
}
.div4 p { color: white;}

.button4 {position: absolute;
    margin-left: 115%;
    margin-top: 48%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x4{position: absolute;
    display:none
}
.button4:hover + .x4{ display:block;}

.div5 {
    position: absolute;
    left: 70%;
    right: 26.64%;
    top: 120%;
    bottom: 48.34%;
    width: 25%;      
}
.div5 p { color: white;}

.button5 {position: absolute;
    margin-left: -15%;
    margin-top: 23%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x5{position: absolute;
    display:none
}
.button5:hover + .x5{ display:block;}

.div6 {
    position: absolute;
        left: 3.13%;
        right: 1.95%;
        top: 125%;
        bottom: 0.92%;
        width: 25%;      
}
.div6 p { color: white;}

.button6 {position: absolute;
    margin-left: 115%;
    margin-top: 53%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x6{position: absolute;
    display:none
}
.button6:hover + .x6{ display:block;}

.div7 {
    position: absolute;
    left: 70%;
    right: 26.64%;
    top: 140%;
    bottom: 48.34%;
    width: 25%;      
}
.div7 p { color: white;}

.button7 {position: absolute;
    margin-left: -15%;
    margin-top: 35%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x7{position: absolute;
    display:none
}
.button7:hover + .x7{ display:block;}

.div8 {
    position: absolute;
        left: 3.13%;
        right: 1.95%;
        top: 148%;
        bottom: 0.92%;
        width: 25%;      
}
.div8 p { color: white;}

.button8 {position: absolute;
    margin-left: 115%;
    margin-top: 53%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x8{position: absolute;
    display:none
}
.button8:hover + .x8{ display:block;}


.div9 {
    position: absolute;
        left: 3.13%;
        right: 1.95%;
        top: 163%;
        bottom: 0.92%;
        width: 25%; 
             
}
.div9 p { color: white;}
.img9 {width: 60%;}

.button9 {position: absolute;
    margin-left: 115%;
    margin-top: 53%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x9{position: absolute;
    display:none
}
.button9:hover + .x9{ display:block;}

.div10 {
    position: absolute;
    left: 70%;
    right: 26.64%;
    top: 183%;
    bottom: 48.34%;
    width: 25%;      
}
.div10 p { color: white;}

.button10 {position: absolute;
    margin-left: -15%;
    margin-top: 35%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x10{position: absolute;
    display:none
}
.button10:hover + .x10{ display:block;}

.div11 {
    position: absolute;
    left: 2%;
    top: 270%;
    bottom: 48.34%;
    width: 25%;      
}

.img11{width: 400%;}

.button11 {position: absolute;
    margin-left: 120%;
    margin-top: 54%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x11{position: absolute;
    display:none
}
.button11:hover + .x11{ display:block;}




.div12 {
    position: absolute;
    left: 2%;
    top: 215%;
    bottom: 48.34%;
    width: 25%;      
}

.img12{width: 370%;}

.button12 {position: absolute;
    margin-left: 120%;
    margin-top: 57%;
    border-radius: 50%;
    height: -60%;
    background-color: black;
    width: 5%;
}
.x12{position: absolute;
    display:none
}
.button12:hover + .x12{ display:block;}

.img13 {width: 70%;
    margin-left: 15%;
    margin-top: 15%;
  margin-bottom: 15%;
}